footer{
    background: #fff;
    text-align: center;
}

footer .partners{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

footer .authors{
    padding: 2.5rem 1rem;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

footer .authors span{
    color: #888;
}

@media(max-width:540px){
    footer .partners img{
        width: 150px;
    }
}

@media(max-width:450px){
    footer .authors{
        font-size: 1.5rem;
        padding: 3rem 1rem;
    }
}