@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --main: #008196
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
}

html{
    overflow-x: hidden;
}

body{
    background: var(--main);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0;
    z-index: 2;
}

header .logoCMI a{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 40px;
}

header .logoCMI a img{
    height: 100%;
}

header .logoZST a{
    width: 200px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}

header .logoZST a img{
    height: 100%;
}

header .links{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .links a{
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .links span{
    height: 2px;
    width: 0%;
    background: var(--main);
    display: block;
    transition: .5s;
}

header .links a:hover{
    color: var(--main);
}

header .links a:hover span{
    width: 100%;
}

header .icon{
    display: none;
}

@media(max-width:1300px){
    header{
        height: 80px;
    }

    header .links{
        width: 550px;
    }

    header .links a{
        font-size: 16px;
    }

    header .logoCMI a{
        height: 50px;
        width: 150px;
    }

    header .logoZST a{
        height: 70px;
        width: 150px;
        padding: 5px 10px;
    }
}

@media(max-width:950px){

    header .links{
        position: absolute;
        top: 100%; left: 0%; right: 0;
        background: #f7f7f7f7;
        border-top: .1rem solid rgba(0,0,0,.1);
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        padding: 40px 0;
        transition: .5s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    header .links.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .links a span{
        display: none;
    }

    header .links a{
        display: flex;
        width: 80%;
        height: 60px;
        background: #fff;
        border: 1px solid black;
        font-size: 24px;
        padding: 10px;
    }

    header .icon{
        display: block;
        font-size: 32px;
        cursor: pointer;
    }    
}

@media(max-width:768px){

}

@media(max-width:450px){
    header .logoZST a{
        margin-right: -30px;
        height: 60px;
    }

    header .logoCMI a{
        height: 40px;
        padding: 0 10px;
    }

    header .icon {
        font-size: 24px;
    }
}