@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --main: #008196
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
}

html{
    overflow-x: hidden;
    scroll-behavior:smooth;
}

body{
    background: var(--main);
}

header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 1rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo img{
    width: 200px;
}

header .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

header .navbar a {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .navbar a:hover{
    color:var(--main);
}

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #000;
    border: #000 solid .1rem;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

header .navbar a span{
    height: 2px;
    width: 0%;
    background: var(--main);
    display: block;
    transition: .5s;
}

header .navbar a:hover{
    color: var(--main);
}

header .navbar a:hover span{
    width: 100%;
}

@media(max-width:991px){

    html{
        font-size:55%;
    }

    header{
        padding: 2rem;
    }

    header .navbar a{
        font-size: 1.8rem;
    }
}

@media(max-width:768px){

    #menu-bar{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        flex-direction: column;
        gap: 0;
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0,0,0,.1);
        border-left: .5rem solid var(--main);
        background: #fff;
        width: calc(100% - 6rem);
    }

    header .navbar a span{
        display: none;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}