body {
    background: #008196;
    overflow-x: hidden;
    position: relative;
}

.instruction {
    position: fixed;
    right: -300px;
    width: 300px;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.instruction.active {
    right: 0;
}

.instruction .btn {
    background: rgb(235, 235, 235);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.instruction .btn i {
    margin-right: 10px;
    transition: .5s;
}

.instruction .btn i.active {
    transform: rotate(180deg);
}

.instruction .desc {
    background: #fff;
    padding: 20px 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: .5rem solid #fff;
    z-index: 2;
}

.zadania {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 75vh;
    gap: 1rem;
    margin-top: 20px;
    width: 100%;
}

#zad1 {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, .9);
    text-align: center;
    height: 80px;
    font-size: 40px;
    overflow-x: hidden;
    transition: 1s;
    overflow-y: hidden;
    border: 1rem solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    scroll-behavior: unset;
    width: 65%;
}

#zad1:hover {
    height: 450px;
    overflow-y: visible;
}

#zad1:hover #zad2 {
    transition-delay: 0.5s;
    opacity: 1;
}

#zad2 {
    display: flex;
    opacity: 0;
    transition: 1s;
    text-align: left;
    font-size: 23px;
    align-items: center;
    padding: 40px 0px;
    pointer-events: none;
}

.zadania .links {
    width: 100%;
    display: block;
    align-items: center;
}

.zadania .links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 35px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.95rem;
}

.spanon {
    height: 2px;
    width: 0%;
    background: var(--main);
    transition: .5s;
}

.zadania .links a:hover {
    color: (--main);
}

.zadania .links a:hover .spanon {
    width: 100%;
}

.codebox {
    background-color: rgba(255, 255, 255, .9);
    border-radius: 16px;
    padding: 20px;
}

@media(max-width:991px) {
    #zad2 {
        font-size: 18px;
    }
}

@media(max-width:768px) {
    #zad1 {
        width: 90%;
    }
    #zad2 {
        font-size: 14px;
    }
    .zadania .links a {
        font-size: 25px;
    }
    .instruction .desc p {
        font-size: 18px;
    }
}

@media(max-width:450px) {
    #zad1 {
        width: 95%;
    }
    #zad2 {
        font-size: 12px;
    }
    .zadania .links a {
        font-size: 20px;
    }
}

@media(max-width:350px) {
    #zad2 {
        font-size: 10px;
    }
    .instruction {
        width: 200px;
        right: -200px;
    }
    .instruction .desc p {
        font-size: 8px;
    }
}


/* DEFAULT THEME */

.cm-operator {
    color: rgb(0, 102, 255);
}

.cm-header {
    color: blue;
}

.cm-quote {
    color: #090;
}

.cm-negative {
    color: #d44;
}

.cm-positive {
    color: rgb(29, 187, 29);
}

.cm-header,
.cm-strong {
    font-weight: bold;
}

.cm-em {
    font-style: italic;
}

.cm-link {
    text-decoration: underline;
}

.cm-strikethrough {
    text-decoration: line-through;
}

.cm-keyword {
    color: rgb(225, 0, 255);
}

.cm-atom {
    color: rgb(38, 9, 228);
}

.cm-number {
    color: rgb(8, 171, 106);
}

.cm-def {
    color: #00f;
}

.cm-variable-2 {
    color: rgb(0, 107, 215);
}

.cm-variable-3,
.cm-type {
    color: #085;
}

.cm-comment {
    color: #a50;
}

.cm-string {
    color: rgb(211, 14, 14);
}

.cm-string-2 {
    color: #f50;
}

.cm-meta {
    color: #555;
}

.cm-qualifier {
    color: #555;
}

.cm-builtin {
    color: rgb(73, 11, 220);
}

.cm-bracket {
    color: #997;
}

.cm-tag {
    color: rgb(36, 185, 10);
}

.cm-attribute {
    color: #00c;
}

.cm-hr {
    color: rgb(206, 206, 206);
}

.cm-link {
    color: #00c;
}

.cm-error {
    color: #f00;
}

.cm-invalidchar {
    color: #f00;
}